<div class="brewery-block">
    <div class="brewery-img">
        <img src="<%= brewery.brewery_label %>" alt="<%= brewery.brewery_name %> Logo">
    </div>
    <h3 class="brewery-name">
        <%= brewery.brewery_name %>
    </h3>
    <div class="brewery-address">
        <%= brewery.location.brewery_city %>, <%= brewery.location.brewery_state %>
    </div>
    <% if(brewery.longitude, brewery.latitude) { %>
        <div class="brewery-map">
                <iframe
                id="map-frame"
                width="150px"
                height="150px"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCnPeSCSirjqSR0T5aX2dpKFhN9I7Xefjs&q=<%= brewery.latitude %>,<%= brewery.longitude %>" zoom="70" allowfullscreen>
                </iframe>
        </div>
    <% } %>
</div>
